<<<<<<< HEAD
h1{
    font-weight: bolder;
}
h2{
    font-weight: bold;
}
div{
  border: 2px;
  border-style:groove;
  background-color: lightblue;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 50%
  font-family: 'Oswald', sans-serif;
}
h3:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer;

}
span{
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
#hhmajor, #ulmajor, #hhpersistent, #ulpersistent, #hhmanic, #ulmanic, #hhbipolar, #ulbipolar, #hhdepressive, #uldepressive, #hhfeelperinatal, #ulfeelperinatal, #hhsignsperinatal, #ulsignsperinatal{
  display: none;
}
#pseasonal, #hhseasonal, #ulseasonal, #hhfall, #ulfall, #hhspring, #ulspring, #pfall, #pspring, #hhpremenstrual, #ulpremenstrual, #hheventsituational, #uleventsituational, #hhsituational, #ulsituational{
  display: none;
}
body{
  text-align: justify;
}

#showcontacts {
  display: none;
}

.contact {
  cursor: pointer;
}

.contact:hover {
  text-decoration: overline;
}  

#contact{
   background-image: url("/images/conta.jpeg"); 
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   font-weight: bold;                   
   font-size: x-large;
   font-style: normal;
   text-align: center;
   background-color:rgb(138, 127, 127);
    
}

#signup{
  background-image: url("/images/conta.jpeg"); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: bold;                   
  font-size: x-large;
  font-style: normal;
  text-align: center;
  
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.5;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
footer{
  text-align: center;
  background-color: lightgrey
}
sociolicons{
  padding-top: 20px;
  padding-left: 30px;


}

#medication {
    display: none;
}
body{
    text-align: center;
}
ul{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pschco {
    display: none;
}
#hospital {
    display: none;
}
#lifestyle {
    display: none;
}
#mindbody {
    display: none;
}
#support {
    display: none;
}
#survovors {
    display: none;
}

h1{
    font-weight: bolder;
}
h2{
    font-weight: bold;
    background-color:;
}
.navigation {
  background: 	rgb(0,191,255);
  color: #fff;
  font-weight: lighter;
  text-align: right !important;
  font-size: larger;
  font-family: sans-serif;
    /* top: 12px; */
}
/* .scrollbar::-webkit-scrollbar-thumb {
    background-color: ##00a7e0;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }

  .scrollbar::-webkit-scrollbar-button {
    ????;
  } */
  .dropdown {
  position: relative;
  display: inline-block;
  position: relative;
}
.nav-item{
  top: 22px;
  padding: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgb(0,191,255);
  color: #fff;
  font-weight: lighter;
  border-radius: 15px;
  max-width: 180px;
  padding: 12px 14px;
  /* z-index: 1; */
  margin-top: 25px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.contact{
  text-align: center;
}
h1{
  text-align: center;
  color: skyblue;
  margin-top: 3%;
  font-size: 50px;
}
h2{
 text-align: center;
 color: skyblue;
 font-size: 3S0px;
}
.first{
  font-size: 50px
  font-weight:lighter;
  font-family: sans-serif;
  text-align: center;
  color: skyblue;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
footer{
  background: 	rgb(0,191,255);
  color: #fff;
  font-weight: lighter;
  text-align: center !important;
  font-size: larger;
  /* height: 40%  !important; */
  padding-top: 30px;
  padding-bottom: 30px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}


#center{
  text-align: center !important;
    margin-left:20px;
    margin-right: 20px;
    font-style: oblique;
