<<<<<<< HEAD
h1{
    font-weight: bolder;
}
h2{
    font-weight: bold;
}
body{
    background-color:;
}
=======
>>>>>>> 11db29b2e257e5a35577b943ec7bc9ab2529c2fc
div{
  border: 2px;
  border-style:groove;
  background-color: lightblue;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 50%
  font-family: 'Oswald', sans-serif;
}
<<<<<<< HEAD
h2:hover{
=======
h3:hover{
>>>>>>> 11db29b2e257e5a35577b943ec7bc9ab2529c2fc
  color: blue;
  text-decoration: underline;
  cursor: pointer;

}
span{
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
#hhmajor, #ulmajor, #hhpersistent, #ulpersistent, #hhmanic, #ulmanic, #hhbipolar, #ulbipolar, #hhdepressive, #uldepressive, #hhfeelperinatal, #ulfeelperinatal, #hhsignsperinatal, #ulsignsperinatal{
  display: none;
}
#pseasonal, #hhseasonal, #ulseasonal, #hhfall, #ulfall, #hhspring, #ulspring, #pfall, #pspring, #hhpremenstrual, #ulpremenstrual, #hheventsituational, #uleventsituational, #hhsituational, #ulsituational{
  display: none;
}
body{
  text-align: justify;
}
<<<<<<< HEAD
=======
h1{
    font-weight: bolder;
}
h2{
    font-weight: bold;
}
body{
    background-color:;
}
>>>>>>> 11db29b2e257e5a35577b943ec7bc9ab2529c2fc
